<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Payment - Cannot Continue</title>
	</head>
	<body>
		<h1>We encountered a problem processing your payment.</h1>
		<p>Unfortunately we cannot process your payment at this time.</p>
		<p>Please try again with another payment method.</p>
	</body>
</html>
