<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Payment - Temporary Failure</title>
	</head>
	<body>
		<h1>We encountered a problem processing your payment.</h1>
		<p>The requested payment can not be processed at this time.</p>
		<p>Please try again later.</p>
	</body>
</html>
