<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Stripe process</title>
    </head>
    <body>

     
        <h1>Stripe payment................</h1>
        <h2>Your Payment</h2>
        <dl>
            <dt>Payment ID</dt>
            <dd>{{.paymentID}}</dd>
            <dt>Payment Amount</dt>
            <dd>{{.payment.Currency}} {{.amount}}</dd>
        </dl>
        

    </body>
</html>
