<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Stripe</title>
    </head>
    <body>

     
        <h1>Stripe payment - Internal Error</h1>
        
    </body>
</html>
