<!doctype html>
<html>
	<head>
		<title>PayPal - Loading...</title>
	</head>
	<body>
		<h1>Loading your PayPal payment...</h1>
		<h2>Your Payment</h2>
		<dl>
			<dt>Payment ID</dt>
			<dd>{{.paymentID}}</dd>
		</dl>
		<p>
			Please provide the &quot;Payment ID&quot; if you have any questions
			in regard to this payment.
		</p>
	</body>
</html>