<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PayPal - Payment Not Found</title>
	</head>
	<body>
		<h1>Payment error</h1>
		<p>We could not find the requested payment.</p>
		<p>Please create a new payment and try again.</p>
		<h2>Additional Information</h2>
		<dl>
			{{if .paymentID}}
			<dt>Payment ID</dt>
			<dd>{{.paymentID}}</dd>
			{{end}}
			{{if .timestamp}}
			<dt>Timestamp</dt>
			<dd>{{.timestamp}}</dd>
			{{end}}
		</dl>
		<p>
			Please provide us with the additional information if you have any questions
			in regard to this payment.
		</p>
	</body>
</html>